/* global styles packed to bundle */
@import "mixins";

/* bulma variables */
@import "~bulma/sass/utilities/initial-variables";

// customization
$primary: $orange;
$info: $orange;
$text: $white-ter;
$text-strong: $white;
$title-color: $text;
$subtitle-color: $text;
$border: $grey-dark;
$border-hover: $grey-dark;
$link: $info;
$link-hover: $info;
$link-focus-border: $info;
$link-visited: $primary;
$background: $black-ter;
$background-grey: hsl(0, 0%, 18%);
$body-background-color: $background-grey;

// navbar (does not work?)
$navbar-dropdown-background-color: $background-grey;

// modal
$modal-card-body-background-color: $grey-darker;

// forms
$label-color: $text;
$input-color: $text;
$input-border-color: $grey-darker;
$input-hover-border-color: $grey-darker;
$input-background-color: $background-grey;

@import "~bulma";

// manually set navbar menu styles
.navbar-menu.is-active {
    background-color: $background-grey;
}

.navbar-item {
    color: $white;
}

// main section
.section.main-section {
    background-color: $grey-darker;
}

// link hover underlining
section > a:hover {
    text-decoration: underline;
}

// nateflix logo
.nf-logo {
    cursor: default;
    @include user-select(none);
}

// pushes controls in a grouped flexbox to the right
.pushed-control {
    margin-left: auto;
}

.splitter {
    margin-bottom: 2rem;
}

.is-centered {
    display: flex;
    justify-content: center;
}

.red {
    color: $red;
}